.login {
    .loginContainer {
        width: 35%;
        margin: 50px auto;
        padding: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

        h1 {
            font-size: 24px;
            font-weight: 300;
        }

        p {
            margin: 10px 0px;
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
        }

        button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: #343A40;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}